
<script type="text/javascript">
    var measure_names = [];
    function captureStatus(sta)
    {
        var status = sta;
        var tracking_number =  '<%= @accession_number %>';
        var test_name_       =  '<%= @test %>';

        if (status == 'Pass')
        {   document.getElementById("test_measures").innerHTML = "";
            document.getElementById("resultEntering").style.display = 'block';
            document.getElementById("resultSaving").style.display = 'inline';
            var n =  '<%= @test %>';
            n = n.replace("&amp;","AND");
            var _url = '/test/retrieve_test_details?test='+ n;
            var tr = document.getElementById("test_measures");

            jQuery.ajax({
                    url: _url,
                    async: false,
                    success: function(res){
                        var measures = JSON.parse(res);
                        var counter = 0;
                        for(var i  in measures)
                        {
                            var name =  measures[i]
                            measure_names.push(name);
                            var row = tr.insertRow(counter);
                            var cel = row.insertCell(0);
                            cel.innerHTML = name;
                            
                            var x = document.createElement("INPUT");
                            x.setAttribute('class','form-control');
                            x.setAttribute('width','80%');
                            x.setAttribute('id',name);
                            var cel = row.insertCell(1);
                            cel.appendChild(x);

                            counter++;
                        }
                    },
                    error: function(err){   
                        console.log(err);
                    }
            });
               
        }
        else if (status == "fail") 
        {       
            var _url = '/test/update_test_status?test=' + test_name_ + "&tracking_number=" + tracking_number + "&status=fail";
            jQuery.ajax({
                    url: _url,
                    async: false,
                    success: function(res){
                        
                        window.location = '/user/index?confirmation=true';
                    },
                    error: function(err){
                        document.getElementById("confirmation_error").style.display = 'inline';
                    }
            });
        }  
        else if (status == "void")
        {
            var _url = '/test/update_test_status?test=' + test_name_ + "&tracking_number=" + tracking_number + "&status=void";
            jQuery.ajax({
                    url: _url,
                    async: false,
                    success: function(res){
                       
                        window.location = '/user/index?confirmation=true';
                    },
                    error: function(err){
                        document.getElementById("confirmation_error").style.display = 'inline';
                    }
            });
        }
    }
   

    function saveMeasures()
    {
        var tracking_number =  '<%= @accession_number %>';
        var test_name       =  '<%= @test %>';
        test_name = test_name.replace("&amp;","AND")
        var values = {};
        var v ="";

        var _url = '/test/save_results?test_name=' + test_name + "&tracking_number=" + tracking_number;
        
        for (var i in measure_names)
        {  
            var value = document.getElementById(measure_names[i]).value;
            values[measure_names[i]] = value;
            measure_names[i] = measure_names[i].replace("%",'perc');
            measure_names[i] = measure_names[i].replace("#",'hash');
            v = v + "_" + measure_names[i] +"-"+ value;
        }

        
        jQuery.ajax({
                url: _url,
                async: false,
                data: {data: values},
                success: function(res)
                {  r = JSON.parse(res);
                    
                    document.getElementById("test_measures").style.display = 'none';
                    document.getElementById("resultSaving").style.display = 'none';
                    window.location = '/test/confirmation?confirmation=true' + "&test_status=Pass" + "&sample_type=" + '<%= @sample_type %>' + "&specimen_status=" + "--" + "&date_created=" +  '<%= @date_ordered %>' + "&tests=" + '<%= @test %>' + "&patient_id=" + '<%=  @patient_id %>' + "&patient_name=" + '<%=  @patient_name%>'+ "&patient_gender=" + '<%=  @patient_gender %>' + "&patient_DOB=" + '<%=  @patient_DOB %>' + "&tracking_number=" + '<%= @accession_number %>' + "&test_values=" + v;

                    console.log(r);
                },
                error: function(err)
                {
                    r = JSON.parse(err);
                    console.log(r);
                }
        });
                
        
    }

</script>



<div class='row'>

    <div class="col-sm-12" style='border-bottom: thin solid lightgrey; border-top: thin solid lighthrey; padding-left:3.3%;padding-top:-1%;'>
        <div class='row'>
            <div class="col-sm-4">
                <div class="form-group">
                    <label> Order Status</label>
                    <select class="form-control" style="width: 40%;" >
                        <option onclick="captureStatus(this.value)"  value="Pass">Pass</option>
                        <option data-toggle="modal" data-target="#fail" value="Fail">Fail</option>
                        <option data-toggle="modal" data-target="#void" value="Void">Void</option>
                    </select>
                    
                </div>
            </div>
      
            <div class="col-sm-4" style="border-left: thin solid lightgrey;">
                <table class="table">
                    <tr>
                        <td> <span style="font-weight: bold"> Patient Id: </span><span> <%=  @patient_id %></span> </td>
                        <td> <span style="font-weight: bold"> Patient Gender: </span><span> <%=  @patient_gender %></span> </td>
                    </tr>
                    <tr>
                        <td> <span style="font-weight: bold"> Patient Name: </span> <span> <%= @patient_name %> </span> </td>
                        <td> <span style="font-weight: bold"> Patient DOB:  </span> <span> <%= @patient_DOB %></span> </td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-4"  style="border-left: thin solid lightgrey;">
                <table class="table">
                    <tr>
                        <td> <span style="font-weight: bold"> Specimen Type: </span><span> <%= @sample_type %> </span> </td>
                        <td> <span style="font-weight: bold"> Test Ordered: </span><span> <%= @test %> </span> </td>
                    </tr>
                    <tr>
                        <td> <span style="font-weight: bold"> Accession Number: </span> <span> <%= @accession_number %> </span> </td>
                        <td> <span style="font-weight: bold"> Date Ordered:  </span> <span> <%= @date_ordered %> </span> </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    
    <div class="col-sm-12" style="margin-top: 1%;">
        <div class='row'>
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 " style=" height:500px;padding-top:0.3%;display: none;  overflow: scroll;" id="resultEntering">
                    <table class="table" id="test_measures">
                    
                        
                    </table>
            </div>   
        </div>
        <div class="col-sm-offset-2 col-sm-8" style="margin-top: 1%;border-top: thin solid lightgrey; padding-top: 1%;" >
            <input type="button" value="back" class="btn btn-lg btn-danger" onclick="window.location='/user/index'" >
            <input type="button" value="save" class="btn btn-lg btn-success" onclick="saveMeasures()" id="resultSaving" style="display:none;">
        </div>

    </div>

    <div id="fail" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                   <p>Are you sure the test has failed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="captureStatus('fail')" data-dismiss="modal">YES</button>
                    <button type="button" class="btn btn-danger"    data-dismiss="modal">NO</button>
                </div>
            </div>
    
        </div>
    </div>


    <div id="void" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                   
                   <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                   <p>Are you sure you want void the test?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="captureStatus('void')" data-dismiss="modal">YES</button>
                    <button type="button"  class="btn btn-danger" data-dismiss="modal">NO</button>
                </div>
            </div>
    
        </div>
    </div>

</div>